**/node_modules/
**/.git
**/npm-debug.log
test-resources
dump
/logs
./compose.yaml
Dockerfile
.env

deploy/
data/
.github
.vscode
db
deploy
gorush
node_modules

Dockerfile
.env

node_modules
.git
.gitignore
*.md
dist
assets/
credentials*

/db

